section.action {
    background-color: #fff;
    padding-bottom: 0
}

section.action h2 {
    color: #0c6da0
}

section.action>.button {
    color: #FFF;
    margin: 0 0 52px 0
}

section.action .button .primary {
    background-color: #0c6da0
}

section.action .button .secondary {
    background-color: #f4b251
}

section.action .content {
    position: relative;
    width: 806px;
    height: 325px;
    margin: 0 auto
}

section.action .arrow {
    position: absolute;
    left: 0;
    top: 97px;
    width: 40px;
    height: 40px;
    background-color: #f4b251;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    transition: all .4s ease-out;
    -webkit-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -o-transform: translateX(-60px);
    -moz-transform: translateX(-60px);
    transform: translateX(-60px)
}

section.action .arrow.visible {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0)
}

section.action .arrow.next {
    left: auto;
    right: 0;
    -webkit-transform: scale(-1, 1) translateX(-60px);
    -ms-transform: scale(-1, 1) translateX(-60px);
    -o-transform: scale(-1, 1) translateX(-60px);
    -moz-transform: scale(-1, 1) translateX(-60px);
    transform: scale(-1, 1) translateX(-60px)
}

section.action .arrow.next.visible {
    left: auto;
    right: 0;
    -webkit-transform: scale(-1, 1) translateX(0);
    -ms-transform: scale(-1, 1) translateX(0);
    -o-transform: scale(-1, 1) translateX(0);
    -moz-transform: scale(-1, 1) translateX(0);
    transform: scale(-1, 1) translateX(0)
}

section.action .arrow .icon {
    width: 80px;
    height: 40px;
    background-image: url('../../The_Elements/Images/PNG/arrow.png');
    background-size: 40px;
    -webkit-transition: all 1ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 1ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 1ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 1ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

section.action .arrow:hover .icon {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

section.action .slider {
    position: relative;
    overflow: hidden;
    width: 702px;
    height: 325px;
    margin: 0 auto
}

section.action .albums {
    text-align: left;
    font-size: 0;
    width: 10000px
}

section.action .albums .album {
    position: relative;
    display: inline-block;
    width: 234px;
    height: 234px;
    vertical-align: top
}

section.action .albums .album:nth-child(2) .rollimage::before {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    -moz-transition-delay: .2s;
    transition-delay: .2s
}

section.action .albums .album:nth-child(2) .rollimage .img {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s
}

section.action .albums .album:nth-child(2) .text .title,
section.action .albums .album:nth-child(2) .rollimage .img {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    -moz-transition-delay: .4s;
    transition-delay: .4s
}

section.action .albums .album:nth-child(2) .text .baseline {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    -moz-transition-delay: .5s;
    transition-delay: .5s
}

section.action .albums .album:nth-child(3) .rollimage::before {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    -moz-transition-delay: .4s;
    transition-delay: .4s
}

section.action .albums .album:nth-child(3) .text .title,
section.action .albums .album:nth-child(3) .rollimage .img {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s
}

section.action .albums .album:nth-child(3) .text .baseline {
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
    -moz-transition-delay: .7s;
    transition-delay: .7s
}

section.action .albums .album .rollimage {
    width: 100%;
    height: 100%
}

section.action .albums .album .text {
    padding: 14px
}

section.action .albums .album .text .title {
    font-size: 16px;
    color: #0c6da0;
    margin: 0
}

section.action .albums .album .text .baseline {
    display: inline-block;
    color: #f4b251;
    font-family: "Overlock";
    font-size: 13px;
    margin-right: 10px
}

section.action .albums .album .text .baseline:before {
    content: "/ "
}

section.action .albums .album .hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    overflow: hidden
}

section.action .albums .album .hover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(244, 178, 81, 0.6);
    border: 6px solid #f4b251;
    opacity: 0;
    box-sizing: border-box;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

section.action .albums .album .hover span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url('../../The_Elements/Images/PNG/mediator_hover.png') center no-repeat;
    background-size: 20%;
    -webkit-transform: scale(0.2, 0.2);
    -ms-transform: scale(0.2, 0.2);
    -o-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -webkit-transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

section.action .albums .album:hover .hover:before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1)
}

section.action .albums .album:hover .hover span {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1)
}

@media screen and (min-width:1240px) {
    section.action>.button {
        margin: 0 0 80px 0
    }
    section.action .arrow {
        width: 60px;
        height: 60px;
        top: 150px
    }
    section.action .arrow .icon {
        width: 120px;
        height: 60px;
        background-size: 60px
    }
    section.action .content {
        width: 1240px;
        height: 500px
    }
    section.action .slider {
        width: 1080px;
        height: 500px
    }
    section.action .albums .album {
        width: 360px;
        height: 360px
    }
    section.action .albums .album .text {
        padding: 20px
    }
    section.action .albums .album .text .title {
        font-size: 24px
    }
    section.action .albums .album .text .baseline {
        font-size: 20px
    }
}