* {
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    line-height: 1;
    min-height: 100%;
    position: relative
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0;
    text-decoration: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

.alignparent {
    display: table!important;
    height: 100%
}

.alignchild {
    display: table-cell!important;
    vertical-align: middle
}

.contactLink {
    cursor: pointer
}

.orientTablet {
    display: none;
    z-index: 130
}

@media screen and (orientation:portrait) {
    .orientTablet {
        position: fixed;
        width: 100%;
        height: 100%;
        background: url('../../The_Elements/Images/GIF/orientation.gif') no-repeat center #F2F1F1;
        display: block
    }
}

html {
    background-color: #fff
}

body {
    overflow-x: hidden
}

body.loaded {
    overflow-x: hidden
}

.pageLoader {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #FFF
}

.pageLoader .metronome {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: url('../../The_Elements/Images/GIF/loader.gif') center no-repeat #fff;
    background-size: 300px;
    opacity: 0
}

.pageIntro {
    position: absolute;
    z-index: 110;
    width: 100%;
    height: 100%
}

.pageIntro .hand,
.pageIntro .primary,
.pageIntro .secondary {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%)
}

.pageIntro .primary {
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: translateX(-100%) scale(1, 0.001);
    -ms-transform: translateX(-100%) scale(1, 0.001);
    -o-transform: translateX(-100%) scale(1, 0.001);
    transform: translateX(-100%) scale(1, 0.001);
    left: 10px
}

.pageIntro .primary {
    background-color: #CCC
}

.pageIntro .secondary {
    background-color: #999
}

.pageIntro .hand {
    background-color: #666;
    background-image: url('../../The_Elements/Images/GIF/hand_bounce.gif');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 600px
}

.pageIntro .hand:after,
.pageIntro .primary:after,
.pageIntro .secondary:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url('../../The_Elements/Images/PNG/texture.png');
    background-size: cover
}

section {
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    position: relative
}

section>h2 {
    padding-top: 20px;
    overflow: hidden;
    font-family: "OverlockSC";
    font-size: 52px;
    text-align: center;
    margin-bottom: 52px;
    text-transform: uppercase
}

@-moz-document url-prefix() {
    section>h2 {
        letter-spacing: -1.3px
    }
}

section>h2 span {
    opacity: 0;
    display: inline-block;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    -moz-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1)
}

section>h2.visible span {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px)
}

section>h2 span:nth-child(1) {
    -webkit-transition-delay: .03s;
    -o-transition-delay: .03s;
    transition-delay: .03s
}

section>h2 span:nth-child(2) {
    -webkit-transition-delay: .06s;
    -o-transition-delay: .06s;
    transition-delay: .06s
}

section>h2 span:nth-child(3) {
    -webkit-transition-delay: .09s;
    -o-transition-delay: .09s;
    transition-delay: .09s
}

section>h2 span:nth-child(4) {
    -webkit-transition-delay: .12s;
    -o-transition-delay: .12s;
    transition-delay: .12s
}

section>h2 span:nth-child(5) {
    -webkit-transition-delay: .15s;
    -o-transition-delay: .15s;
    transition-delay: .15s
}

section>h2 span:nth-child(6) {
    -webkit-transition-delay: .18s;
    -o-transition-delay: .18s;
    transition-delay: .18s
}

section>h2 span:nth-child(7) {
    -webkit-transition-delay: .21s;
    -o-transition-delay: .21s;
    transition-delay: .21s
}

section>h2 span:nth-child(8) {
    -webkit-transition-delay: .24s;
    -o-transition-delay: .24s;
    transition-delay: .24s
}

section>h2 span:nth-child(9) {
    -webkit-transition-delay: .27s;
    -o-transition-delay: .27s;
    transition-delay: .27s
}

section>h2 span:nth-child(10) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s
}

section>h2 span:nth-child(11) {
    -webkit-transition-delay: .33s;
    -o-transition-delay: .33s;
    transition-delay: .33s
}

section>h2 span:nth-child(12) {
    -webkit-transition-delay: .36s;
    -o-transition-delay: .36s;
    transition-delay: .36s
}

section>h2 span:nth-child(13) {
    -webkit-transition-delay: .39s;
    -o-transition-delay: .39s;
    transition-delay: .39s
}

section>h2 span:nth-child(14) {
    -webkit-transition-delay: .42s;
    -o-transition-delay: .42s;
    transition-delay: .42s
}

section>h2 span:nth-child(15) {
    -webkit-transition-delay: .45s;
    -o-transition-delay: .45s;
    transition-delay: .45s
}

section>h2 span:nth-child(16) {
    -webkit-transition-delay: .48s;
    -o-transition-delay: .48s;
    transition-delay: .48s
}

section>h2 span:nth-child(17) {
    -webkit-transition-delay: .51s;
    -o-transition-delay: .51s;
    transition-delay: .51s
}

section>h2 span:nth-child(18) {
    -webkit-transition-delay: .54s;
    -o-transition-delay: .54s;
    transition-delay: .54s
}

section>h2 span:nth-child(19) {
    -webkit-transition-delay: .57s;
    -o-transition-delay: .57s;
    transition-delay: .57s
}

section>h2 span:nth-child(20) {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s
}

section>h2 span:nth-child(21) {
    -webkit-transition-delay: .63s;
    -o-transition-delay: .63s;
    transition-delay: .63s
}

section>h2 span:nth-child(22) {
    -webkit-transition-delay: .66s;
    -o-transition-delay: .66s;
    transition-delay: .66s
}

section>h2 span:nth-child(23) {
    -webkit-transition-delay: .69s;
    -o-transition-delay: .69s;
    transition-delay: .69s
}

section>h2 span:nth-child(24) {
    -webkit-transition-delay: .72s;
    -o-transition-delay: .72s;
    transition-delay: .72s
}

section>h2 span:nth-child(25) {
    -webkit-transition-delay: .75s;
    -o-transition-delay: .75s;
    transition-delay: .75s
}

section>h2 span:nth-child(26) {
    -webkit-transition-delay: .78s;
    -o-transition-delay: .78s;
    transition-delay: .78s
}

section>h2 span:nth-child(27) {
    -webkit-transition-delay: .81s;
    -o-transition-delay: .81s;
    transition-delay: .81s
}

section>h2 span:nth-child(28) {
    -webkit-transition-delay: .84s;
    -o-transition-delay: .84s;
    transition-delay: .84s
}

section>h2 span:nth-child(29) {
    -webkit-transition-delay: .87s;
    -o-transition-delay: .87s;
    transition-delay: .87s
}

@media screen and (min-width:1200px) {
    section {
        padding-top: 60px;
        padding-bottom: 80px
    }
    section>h2 {
        font-size: 80px;
        margin-bottom: 80px
    }
}

section .title {
    font-family: "OverlockBold";
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px
}

@media screen and (min-width:1200px) {
    section .title {
        font-size: 36px;
        margin-bottom: 30px
    }
}

section .description {
    font-size: 11px;
    line-height: 15px;
    font-family: "Overlock"
}

section .description p {
    margin-bottom: 15px
}

@media screen and (min-width:1200px) {
    section .description {
        font-size: 14px;
        line-height: 22px
    }
    section .description p {
        margin-bottom: 22px
    }
}

#contact .button,
section .button {
    position: relative;
    font-family: "Overlock";
    font-size: 11px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 40px;
    height: 44px;
    width: 180px;
    color: #333;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    text-decoration: none!important
}

#contact .button,
section .button:hover {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s
}

#contact .button .primary,
#contact .button .secondary,
section .button .primary,
section .button .secondary {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #999
}

#contact .button .secondary,
section .button .secondary {
    top: 100%;
    margin-top: -4px;
    background-color: #333;
    -webkit-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1)
}

#contact .button .buttonText,
section .button .buttonText {
    position: relative;
    z-index: 2;
    color: whitesmoke
}

#contact .button:hover .secondary,
section .button:hover .secondary {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%)
}

@media screen and (min-width:1200px) {
    #contact .button,
    section .button {
        font-size: 14px;
        line-height: 60px;
        height: 66px;
        width: 224px;
        border-bottom-width: 6px
    }
}

section.intro {
    height: 100%;
    background-color: #000;
    padding-top: 65px;
    position: relative;
    z-index: 0
}

@media screen and (min-width:1200px) {
    section.intro {
        padding-top: 100px
    }
}

section.intro .bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #444;
    background: url('../img/ecole/intro.jpg') center;
    background-size: cover;
    z-index: -1;
    will-change: opacity
}

section.intro .text {
    position: absolute;
    top: 50%;
    width: 100%;
    font-family: "Overlock";
    color: #FFF;
    font-size: 140px;
    text-align: center;
    will-change: transform
}

section.intro .scrolldown {
    width: 100%;
    height: 76px;
    display: inline-block;
    background: url('../../The_Elements/Images/PNG/mediator_scrolldown.png') center no-repeat;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    left: 0;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    transform: scale(0, 0);
    will-change: transform
}

section.intro .scrolldown:after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    margin-left: -18px;
    margin-top: -34px;
    width: 35px;
    height: 44px;
    background-image: url('../../The_Elements/Images/GIF/scroll.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 40px
}

section.transition {
    position: relative;
    height: 390px;
    width: 100%;
    overflow: hidden
}

section.transition .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 520px;
    width: 100%;
    background-size: cover;
    background-position: center;
    will-change: transform
}

@media screen and (min-width:1200px) {
    section.transition {
        height: 600px
    }
    section.transition .content {
        height: 800px
    }
}

section.intro .text {
    font-size: 24px;
    font-family: "Overlock";
    margin-top: -61px
}

section.intro .text h1 {
    font-size: 90px;
    text-transform: uppercase;
    font-family: "OverlockSC"
}

@-moz-document url-prefix() {
    section.intro .text h1 {
        letter-spacing: -1.4px
    }
}

@media screen and (min-width:1200px) {
    section.intro .text {
        font-size: 36px;
        margin-top: -95px
    }
    section.intro .text h1 {
        font-size: 140px
    }
    section.intro .text .endIntro {
        font-size: 72px
    }
    section.intro .text .endIntro .icon {
        width: 55px;
        height: 101px;
        margin-right: 5px;
        background-size: 55px
    }
}

section.presentation {
    height: 264px;
    line-height: 264px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 20px
}

section.presentation .presentationContainer {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    color: #fff;
    font-size: 34px;
    line-height: 40px;
    font-family: "Overlock"
}

section.presentation p {
    -webkit-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    opacity: 0;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    -moz-transform: translateY(30px);
    transform: translateY(30px)
}

section.presentation p:nth-child(2) {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s
}

section.presentation p:nth-child(3) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s
}

section.presentation span {
    display: inline-block;
    height: 6px;
    position: relative;
    margin-top: 25px;
    background: #c94731;
    -webkit-transition: all 400ms ease-in-out .6s;
    -ms-transition: all 400ms ease-in-out .6s;
    -o-transition: all 400ms ease-in-out .6s;
    -moz-transition: all 400ms ease-in-out .6s;
    transition: all 400ms ease-in-out .6s;
    width: 0
}

section.presentation span::after {
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 6px;
    right: 0;
    display: inline-block;
    background: #fff
}

section.presentation.visible p {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0)
}

section.presentation.visible span {
    width: 80px
}

.rollimage {
    position: relative;
    overflow: hidden
}

.rollimage>* {
    -webkit-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    transition: all 400ms ease-out
}

.rollimage::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #333;
    -webkit-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    transition: all 400ms ease-out
}

.rollimage img,
.rollimage .img {
    vertical-align: top;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s
}

.rollimage .img {
    background-position: center;
    background-size: cover
}

.rollimage_parent_horizontal:nth-child(even) .rollimage::before,
.rollimage_parent_horizontal:nth-child(even) .rollimage img,
.rollimage_parent_horizontal:nth-child(even) .rollimage .img {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%)
}

.rollimage_parent_horizontal:nth-child(odd) .rollimage::before,
.rollimage_parent_horizontal:nth-child(odd) .rollimage img,
.rollimage_parent_horizontal:nth-child(odd) .rollimage .img {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%)
}

.rollimage_parent_vertical:nth-child(even) .rollimage::before,
.rollimage_parent_vertical:nth-child(even) .rollimage img,
.rollimage_parent_vertical:nth-child(even) .rollimage .img {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    -moz-transform: translateY(100%);
    transform: translateY(100%)
}

.rollimage_parent_vertical:nth-child(odd) .rollimage::before,
.rollimage_parent_vertical:nth-child(odd) .rollimage img,
.rollimage_parent_vertical:nth-child(odd) .rollimage .img {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    -moz-transform: translateY(100%);
    transform: translateY(100%)
}

.rollimage_parent_vertical:nth-child(2) .rollimage::before,
.rollimage_parent_vertical:nth-child(2n+3) .rollimage::before {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s
}

.rollimage_parent_vertical:nth-child(2) .rollimage img,
.rollimage_parent_vertical:nth-child(2) .rollimage .img,
.rollimage_parent_vertical:nth-child(2n+3) .rollimage img,
.rollimage_parent_vertical:nth-child(2n+3) .rollimage .img {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s
}

.rollimage_parent_vertical:nth-child(3) .rollimage::before,
.rollimage_parent_vertical:nth-child(3n+3) .rollimage::before {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s
}

.rollimage_parent_vertical:nth-child(3) .rollimage img,
.rollimage_parent_vertical:nth-child(3) .rollimage .img,
.rollimage_parent_vertical:nth-child(3n+3) .rollimage img,
.rollimage_parent_vertical:nth-child(3n+3) .rollimage .img {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s
}

.rollimage_parent_horizontal:nth-child(even) .rollimage .date {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%)
}

.rollimage_parent_horizontal:nth-child(odd) .rollimage .date,
.rollimage_parent_vertical .rollimage .date {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%)
}

.visible .rollimage::before,
.visible .rollimage img,
.visible .rollimage .img,
.visible .date {
    -webkit-transform: translate(0)!important;
    -ms-transform: translate(0)!important;
    -o-transform: translate(0)!important;
    -moz-transform: translate(0)!important;
    transform: translate(0)!important
}

.rollimage .date {
    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s
}

.hiddenBlock.button {
    -webkit-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    -moz-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0
}

.hiddenBlock.button.visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0)
}

.hiddenBlock.paragraphintro h3,
.hiddenBlock .text h3,
.hiddenBlock .text .title {
    -webkit-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s
}

.hiddenBlock .text .baseline {
    -webkit-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    -webkit-transition-delay: .15s;
    -o-transition-delay: .15s;
    transition-delay: .15s
}

.hiddenBlock.paragraphintro h4,
.hiddenBlock.paragraphintro p,
.hiddenBlock .text .description h4,
.hiddenBlock .text .description p {
    -webkit-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s
}

.hiddenBlock .text .btn {
    -webkit-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s
}

.hiddenBlock.paragraphintro h4:nth-child(2),
.hiddenBlock.paragraphintro p:nth-child(2),
.hiddenBlock .text .description h4:nth-child(2),
.hiddenBlock .text .description p:nth-child(2) {
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s
}

.hiddenBlock.paragraphintro h4:nth-child(3),
.hiddenBlock.paragraphintro p:nth-child(3),
.hiddenBlock .text .description h4:nth-child(3),
.hiddenBlock .text .description p:nth-child(3) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s
}

.hiddenBlock.paragraphintro h4:nth-child(4),
.hiddenBlock.paragraphintro p:nth-child(4),
.hiddenBlock .text .description h4:nth-child(4),
.hiddenBlock .text .description p:nth-child(4) {
    -webkit-transition-delay: .35s;
    -o-transition-delay: .35s;
    transition-delay: .35s
}

.hiddenBlock.paragraphintro h4:nth-child(5),
.hiddenBlock.paragraphintro p:nth-child(5),
.hiddenBlock .text .description h4:nth-child(5),
.hiddenBlock .text .description p:nth-child(5) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s
}

.hiddenBlock.paragraphintro h4:nth-child(6),
.hiddenBlock.paragraphintro p:nth-child(6),
.hiddenBlock .text .description h4:nth-child(6),
.hiddenBlock .text .description p:nth-child(6) {
    -webkit-transition-delay: .45s;
    -o-transition-delay: .45s;
    transition-delay: .45s
}

.hiddenBlock.paragraphintro h4:nth-child(7),
.hiddenBlock.paragraphintro p:nth-child(7),
.hiddenBlock .text .description h4:nth-child(7),
.hiddenBlock .text .description p:nth-child(7) {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s
}

.hiddenBlock.paragraphintro h4:nth-child(8),
.hiddenBlock.paragraphintro p:nth-child(8),
.hiddenBlock .text .description h4:nth-child(8),
.hiddenBlock .text .description p:nth-child(8) {
    -webkit-transition-delay: .55s;
    -o-transition-delay: .55s;
    transition-delay: .55s
}

.rollimage_parent_vertical:nth-child(2n+3) .text h3,
.rollimage_parent_vertical:nth-child(2n+3) .text .title {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s
}

.rollimage_parent_vertical:nth-child(2n+3) .text .baseline {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s
}

.rollimage_parent_vertical:nth-child(3n+3) .text h3,
.rollimage_parent_vertical:nth-child(3n+3) .text .title {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s
}

.rollimage_parent_vertical:nth-child(3n+3) .text .baseline {
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s
}

.rollimage_parent_horizontal:nth-child(even) .text h3,
.rollimage_parent_horizontal:nth-child(even) .text .title,
.rollimage_parent_horizontal:nth-child(even) .text .baseline,
.rollimage_parent_horizontal:nth-child(even) .text .description h4,
.rollimage_parent_horizontal:nth-child(even) .text .description p,
.rollimage_parent_horizontal:nth-child(even) .text .btn {
    -webkit-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -o-transform: translateX(-60px);
    -moz-transform: translateX(-60px);
    transform: translateX(-60px);
    opacity: 0
}

.hiddenBlock.paragraphintro h3,
.rollimage_parent_horizontal:nth-child(odd) .text h3,
.rollimage_parent_horizontal:nth-child(odd) .text .title,
.rollimage_parent_horizontal:nth-child(odd) .text .baseline,
.rollimage_parent_horizontal:nth-child(odd) .text .description h4,
.rollimage_parent_horizontal:nth-child(odd) .text .description p,
.rollimage_parent_horizontal:nth-child(odd) .text .btn {
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -o-transform: translateX(60px);
    -moz-transform: translateX(60px);
    transform: translateX(60px);
    opacity: 0
}

.rollimage_parent_vertical .text h3,
.rollimage_parent_vertical .text .title,
.rollimage_parent_vertical .text .baseline,
.hiddenBlock.paragraphintro h3,
.hiddenBlock.paragraphintro h4,
.hiddenBlock.paragraphintro p {
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px);
    -moz-transform: translateY(60px);
    transform: translateY(60px);
    opacity: 0
}

.visible .text h3,
.visible .text .title,
.visible .text .baseline,
.visible .text .description h4,
.visible .text .description p,
.visible .text .btn,
.paragraphintro.visible h3,
.paragraphintro.visible h4,
.paragraphintro.visible p {
    opacity: 1!important;
    -webkit-transform: translate(0)!important;
    -ms-transform: translate(0)!important;
    -o-transform: translate(0)!important;
    -moz-transform: translate(0)!important;
    transform: translate(0)!important
}

#credits {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f2563d;
    background-image: url('../../The_Elements/Images/PNG/texture_popin.png');
    background-size: cover;
    z-index: 19;
    display: none
}

#credits .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FAFBFA;
    background-image: url('../../The_Elements/Images/PNG/texture_popin.png');
    background-size: cover;
    text-align: center;
    padding-top: 70px
}

#credits .close {
    position: absolute;
    font-size: 11px;
    right: 20px;
    top: 85px;
    color: #f2563d;
    font-family: "OverlockSC";
    text-transform: uppercase;
    cursor: pointer
}

#credits h2 {
    color: #f2563d;
    margin-top: 70px;
    font-family: "Overlock";
    font-size: 80px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase
}

#credits h3 {
    position: relative;
    font-family: "Overlock";
    font-style: italic;
    color: #666;
    text-align: center;
    font-size: 15px;
    top: -50px
}

#credits h3 b {
    font-size: 18px
}

#credits h3:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 50px;
    background: url('../../The_Elements/Images/PNG/hippo.png') center no-repeat;
    background-size: contain
}

#credits .hand {
    position: absolute;
    width: 450px;
    left: 50%;
    margin-left: -225px;
    bottom: 0;
    height: 58%;
    background: url('../../The_Elements/Images/GIF/canvas-exp.gif') center bottom no-repeat;
    background-size: auto 100%
}

#credits .right,
#credits .left {
    position: absolute;
    top: 44%
}

#credits .left {
    right: 50%;
    margin-right: 200px;
    text-align: right
}

#credits .right {
    left: 50%;
    margin-left: 200px
}

#credits .bloc {
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 20px;
    color: #666;
    font-family: "Overlock";
    text-align: left
}

#credits .bloc a {
    color: #666;
    text-decoration: underline
}

#credits .bloc .logo {
    height: 105px;
    width: 160px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: block
}

#credits .bloc .logo.irregulart {
    background-image: url('../../The_Elements/Images/PNG/black.png')
}

#credits .bloc .logo.lanfoster {
    background-image: url('../../The_Elements/Images/PNG/logoLnfstr.png')
}

#credits .left a {
    display: block
}

#credits .bloc .blocTitle {
    font-family: "OverlockSC";
    font-size: 18px;
    color: #343434;
    margin-bottom: 15px;
    display: inline;
    text-transform: uppercase
}

@media screen and (min-width:1200px) {
    #credits .content {
        padding-top: 100px
    }
    #credits .close {
        font-size: 14px;
        right: 30px;
        top: 130px
    }
}

@media screen and (min-width:1200px) and (min-height:1000px) {
    #credits h2 {
        margin-top: 90px;
        font-size: 100px;
        margin-bottom: 60px
    }
    #credits h3 {
        font-size: 18px
    }
    #credits h3 b {
        font-size: 22px
    }
    #credits .bloc {
        font-size: 18px;
        line-height: 24px
    }
    #credits .bloc .blocTitle {
        font-size: 24px;
        margin-bottom: 15px
    }
    #credits .left {
        margin-right: 250px
    }
    #credits .right {
        margin-left: 250px
    }
    #credits .bloc .logo {
        height: 135px;
        width: 200px
    }
}

#contact {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 19;
    background-color: #0b6ca0;
    background-image: url('../../The_Elements/Images/PNG/texture_popin.png');
    background-size: cover;
    display: none
}

#contact .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    background-image: url('../../The_Elements/Images/PNG/texture_popin.png');
    background-size: cover;
    text-align: center
}

#contact .close {
    position: absolute;
    font-size: 11px;
    right: 20px;
    top: 85px;
    color: #0b6ca0;
    font-family: "OverlockSC";
    text-transform: uppercase;
    cursor: pointer;
    z-index: 5
}

#contact .mentions {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 70px;
    text-align: center;
    font-family: "Overlock"
}

#contact .contactContainer {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 1200px;
    margin-top: -600px;
    line-height: 1200px
}

#contact .contactContainer .contactContent {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px
}

#contact .leftHand,
#contact .rightHand {
    position: absolute;
    top: 50%;
    left: 0;
    background-image: url('../../The_Elements/Images/PNG/contactLeftHand.png');
    background-size: 100%;
    height: 320px;
    width: 460px;
    margin-top: -240px
}

#contact .rightHand {
    left: auto;
    right: 0;
    background-image: url('../../The_Elements/Images/PNG/contactRightHand.png');
    height: 230px;
    width: 390px;
    margin-top: -90px
}

#contact h2,
#contact h3 {
    line-height: 70px;
    color: #0b6ca0;
    font-family: "Overlock";
    font-size: 70px;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase
}

#contact h3 {
    font-style: italic;
    color: #666;
    font-size: 15px;
    text-transform: none;
    line-height: 20px
}

#contact .bloc {
    vertical-align: top;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 20px;
    color: #666;
    font-family: "Overlock";
    width: 490px;
    display: inline-block
}

#contact .bloc .blocTitle {
    font-family: "OverlockSC";
    font-size: 18px;
    color: #343434;
    margin-bottom: 15px;
    display: block;
    text-transform: uppercase
}

#contact .bloc input,
#contact .bloc select,
#contact .bloc textarea {
    width: 100%;
    height: 50px;
    line-height: 40px;
    text-align: center;
    border: 5px solid #0b6ca0;
    background-color: #fff;
    font-size: 16px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    z-index: 1;
    position: relative
}

#contact .bloc select {
    position: relative;
    display: block;
    font-size: 18px;
    border: 0;
    padding-left: 20px;
    padding-right: 40px;
    height: 50px;
    line-height: 50px;
    outline: 0
}

#contact .bloc .select {
    position: relative;
    border: 5px solid #0b6ca0;
    width: 100%;
    display: inline-block
}

#contact .bloc .select:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 100%;
    background-color: #d04834;
    right: 0;
    top: 0;
    z-index: 2;
    pointer-events: none;
    background-image: url('../../The_Elements/Images/PNG/arrow.png');
    background-position: center;
    background-size: 100%;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

#contact .bloc input {
    margin-bottom: 30px
}

#contact .bloc textarea {
    text-align: left;
    padding: 5px 20px;
    height: 170px;
    max-height: 170px;
    min-height: 170px;
    width: 100%;
    max-width: 100%;
    min-width: 100%
}

#contact .forms .bloc:nth-child(1) {
    margin-right: 80px
}

#contact .forms .bloc {
    margin-bottom: 20px
}

#contact .button {
    color: #fff;
    margin-bottom: 30px
}

#contact .button .primary {
    background-color: #0b6ca0
}

#contact .button .secondary {
    background-color: #d04834
}

#contact .error {
    color: #900!important;
    border-color: #900!important
}

#contact .buttonMessageContainer {
    height: 60px
}

#contact .buttonMessageContainer .errorMessage,
#contact .buttonMessageContainer .successMessage {
    display: none;
    font-family: "Overlock";
    font-size: 20px
}

#contact .buttonMessageContainer .errorMessage {
    color: #900
}

@media screen and (min-width:1200px) {
    #contact .close {
        font-size: 14px;
        right: 30px;
        top: 130px
    }
    #contact .mentions {
        line-height: 100px
    }
}

@media screen and (max-width:1400px) {
    #contact .leftHand {
        height: 240px;
        width: 345px;
        margin-top: -190px
    }
    #contact .rightHand {
        height: 200px;
        width: 330px;
        margin-top: -155px
    }
}

@media screen and (max-width:1300px) {
    #contact .leftHand {
        height: 160px;
        width: 230px;
        margin-top: -150px
    }
    #contact .rightHand {
        height: 115px;
        width: 195px;
        margin-top: -127px
    }
}

@media screen and (max-width:1100px) {
    #contact .forms .bloc:nth-child(1) {
        margin-right: 30px
    }
    #contact .bloc {
        width: 400px
    }
}

@media screen and (min-width:1100px) and (min-height:1000px) {
    #contact h2 {
        font-size: 100px;
        margin-bottom: 60px;
        line-height: 100px
    }
    #contact h3 {
        font-size: 18px;
        margin-bottom: 50px;
        line-height: 22px
    }
    #contact .bloc {
        font-size: 18px;
        line-height: 24px
    }
    #contact .bloc .blocTitle {
        font-size: 24px;
        margin-bottom: 15px
    }
    #contact .bloc input,
    #contact .bloc select,
    #contact .bloc textarea {
        height: 60px;
        line-height: 50px;
        font-size: 20px;
        margin-bottom: 50px
    }
    #contact .bloc select {
        font-size: 21px;
        margin-bottom: 0
    }
    #contact .bloc textarea {
        height: 210px;
        max-height: 210px;
        min-height: 210px
    }
    #contact .bloc .select:after {
        width: 60px
    }
}

body {
    background-color: #333;
    height: 100%
}

header {
    position: fixed;
    width: 100%;
    height: 65px;
    background: url('../../The_Elements/Images/PNG/nav_texture.jpg') bottom #000;
    background-size: auto 65px;
    z-index: 20
}

header .logo {
    position: absolute;
    width: 145px;
    height: 145px;
    background-color: #fff;
    overflow: hidden
}

header .logo:before,
header .logo:after {
    content: "";
    position: absolute;
    left: 0;
    top: -7px;
    width: 145px;
    height: 145px;
    background: url('../../The_Elements/Images/SVG/Medley-Explore.svg') center no-repeat;
    background-size: 130px
}

header .logo .logoRoll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #fff;
    -webkit-transition: all 700ms;
    -o-transition: all 700ms;
    transition: all 700ms;
    opacity: 0
}

header .logo .logoRoll:after,
header .logo .logoRoll:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 72px
}

header .logo .logoRoll[data-link='ecole']:before {
    background-image: url('../img/ecole/logoIcon.png')
}

header .logo .logoRoll[data-link='ecole']:after {
    background-image: url('../img/ecole/logoText.png')
}

header .logo .logoRoll[data-link='agenda']:before {
    background-image: url('../img/agenda/logoIcon.png')
}

header .logo .logoRoll[data-link='agenda']:after {
    background-image: url('../img/agenda/logoText.png')
}

header .logo .logoRoll[data-link='cours']:before {
    background-image: url('../img/cours/logoIcon.png')
}

header .logo .logoRoll[data-link='cours']:after {
    background-image: url('../img/cours/logoText.png')
}

header .logo .logoRoll[data-link='stages']:before {
    background-image: url('../img/stages/logoIcon.png')
}

header .logo .logoRoll[data-link='stages']:after {
    background-image: url('../img/stages/logoText.png')
}

header .logo .logoRoll[data-link='temoignages']:before {
    background-image: url('../img/temoignages/logoIcon.png')
}

header .logo .logoRoll[data-link='temoignages']:after {
    background-image: url('../img/temoignages/logoText.png')
}

header .logo .logoRoll[data-link='medias']:before {
    background-image: url('../../The_Elements/Images/PNG/Logo.png')
}

header .logo .logoRoll[data-link='medias']:after {
    background-image: url('../../The_Elements/Images/PNG/Logo.png')
}

header ul {
    text-align: center;
    padding-left: 145px;
    height: 100%;
    font-size: 0
}

header ul li {
    position: relative;
    height: 65px;
    line-height: 45px;
    width: 15%;
    display: inline-block;
    font-family: "Overlock";
    color: #FFF;
    text-align: center;
    font-size: 10px
}

header ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #FFF;
    cursor: pointer;
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s
}

header li a.active {
    color: #CCC
}

header ul li a:after {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 50%;
    margin-left: -13px;
    bottom: 50%;
    margin-bottom: -25px;
    background: url('../../The_Elements/Images/SVG/puff.svg');
    background-size: 26px
}

header ul li:nth-child(1) a.active,
header ul li:nth-child(1):hover a {
    color: #599adf
}

header ul li:nth-child(2) a.active,
header ul li:nth-child(2):hover a {
    color: #7f9f4b
}

header ul li:nth-child(3) a.active,
header ul li:nth-child(3):hover a {
    color: #f4b251
}

header ul li:nth-child(4) a.active,
header ul li:nth-child(4):hover a {
    color: #00e7e0
}

header ul li:nth-child(5) a.active,
header ul li:nth-child(5):hover a {
    color: #bd4476
}

header ul li:nth-child(6) a.active,
header ul li:nth-child(6):hover a {
    color: #faad39
}

header.collapsed {
    height: 51px
}

header.collapsed .logo .logoRoll,
header.collapsed .logo {
    height: 51px
}

header.collapsed .logo:before,
header.collapsed .logo:after,
header.collapsed .logo .logoRoll:after,
header.collapsed .logo .logoRoll:before {
    -webkit-transform: scale(0.7) translateY(-57px);
    -ms-transform: scale(0.7) translateY(-57px);
    -o-transform: scale(0.7) translateY(-57px);
    -moz-transform: scale(0.7) translateY(-57px);
    transform: scale(0.7) translateY(-57px)
}

header.collapsed .logo .logoRoll:after,
header.collapsed .logo:after {
    opacity: 0
}

header.collapsed ul li {
    height: 42px
}

header.collapsed ul li a:after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0)
}

header.collapsed ul li a.active:after {
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4)
}

@media screen and (min-width:1200px) {
    header {
        height: 100px;
        background-size: auto 100px
    }
    header ul {
        padding-left: 222px
    }
    header .logo .logoRoll,
    header .logo {
        width: 222px;
        height: 222px;
        background-size: 110px
    }
    header .logo .logoRoll:after,
    header .logo .logoRoll:before,
    header .logo:before,
    header .logo:after {
        width: 222px;
        height: 222px;
        background-size: 110px
    }
    header ul li {
        height: 100px;
        line-height: 70px;
        width: 160px;
        font-size: 14px
    }
    header ul li a:after {
        height: 40px;
        width: 40px;
        margin-left: -20px;
        margin-bottom: -37px;
        background-size: 40px
    }
    header.collapsed {
        height: 65px
    }
    header.collapsed .logo .logoRoll,
    header.collapsed .logo {
        height: 65px
    }
    header.collapsed .logo .logoRoll:before,
    header.collapsed .logo .logoRoll:after,
    header.collapsed .logo:before,
    header.collapsed .logo:after {
        -webkit-transform: scale(0.7) translateY(-87px);
        -ms-transform: scale(0.7) translateY(-87px);
        -o-transform: scale(0.7) translateY(-87px);
        -moz-transform: scale(0.7) translateY(-87px);
        transform: scale(0.7) translateY(-87px)
    }
    header.collapsed ul li {
        height: 65px;
        line-height: 65px
    }
}

header,
header .logo,
header .logo:before,
header .logo:after,
header ul,
header ul li,
header ul li a:after {
    -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1)
}

header ul li {
    -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1), width .1ms ease;
    -moz-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1), width .1ms ease;
    -o-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1), width .1ms ease;
    transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1), width .1ms ease
}

footer {
    width: 100%;
    background: url('../../The_Elements/Images/PNG/footer_texture.jpg') top #000;
    background-repeat: repeat-x;
    color: #FFF;
    font-family: "Overlock";
    font-size: 12px;
    vertical-align: bottom;
    text-align: center;
    padding-bottom: 50px
}

footer .contain {
    width: 90%;
    padding: 50px 0 0 80px;
    display: inline-block;
    position: relative;
    text-align: left
}

footer a {
    color: #fff
}

footer .logo {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 45px;
    left: -4%;
    background: url('../../The_Elements/Images/SVG/logoM.svg') center no-repeat
}

footer .contact,
footer .follow {
    float: left
}

footer .follow {
    margin-left: 130px
}

footer .credits {
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -20px;
    cursor: pointer
}

footer .pictosocial {
    width: 30px;
    height: 30px;
    display: inline-block
}

footer .pictofb {
    background: url('../../The_Elements/Images/GIF/footer_facebook.gif') center
}

footer .pictoytb {
    background: url('../../The_Elements/Images/GIF/footer_youtube.gif') center
}

footer h4 {
    font-family: "Overlock";
    font-size: 18px;
    margin-bottom: 22px
}

footer p {
    display: inline-block;
    width: 185px;
    vertical-align: bottom
}

footer p h4 {
    margin-bottom: 30px;
    width: 100%
}

@media screen and (min-width:1350px) {
    footer .contain {
        width: 1240px
    }
}

#albumViewer {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 20
}

#albumViewer .content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -270px;
    width: 800px;
    height: 530px
}

#albumViewer .close {
    position: absolute;
    font-size: 11px;
    right: 20px;
    top: 20px;
    color: #fa9f19;
    font-family: "OverlockSC";
    text-transform: uppercase;
    cursor: pointer
}

@media screen and (min-width:1200px) {
    #albumViewer .close {
        font-size: 14px;
        right: 30px;
        top: 30px
    }
}

#albumViewer .title {
    position: absolute;
    left: 0;
    bottom: 100%;
    margin-bottom: 40px;
    color: #fff;
    font-family: "OverlockSC";
    text-transform: uppercase;
    font-size: 16px
}

#albumViewer .title:before {
    content: "/ ";
    color: #fa9f19
}

@media screen and (min-width:1200px) {
    #albumViewer .title {
        font-size: 24px
    }
}

#albumViewer .count {
    position: absolute;
    right: 0;
    bottom: 100%;
    margin-bottom: 40px;
    color: #fff;
    font-family: "OverlockSC";
    text-transform: uppercase;
    font-size: 10px
}

#albumViewer .count b {
    color: #fa9f19
}

@media screen and (min-width:1200px) {
    #albumViewer .title {
        font-size: 14px
    }
}

#albumViewer .arrow {
    position: absolute;
    z-index: 3;
    right: -20px;
    top: 50%;
    margin-top: -45px;
    width: 40px;
    height: 40px;
    border: 1px solid #f4b251;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.75)
}

#albumViewer .arrow.next {
    margin-top: 5px;
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

#albumViewer .arrow .icon {
    width: 80px;
    height: 40px;
    background-image: url('../img/home/arrow.png');
    background-size: 40px;
    -webkit-transition: all 1ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 1ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 1ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 1ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

#albumViewer .arrow:hover .icon {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

#albumViewer ul {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center
}

#albumViewer ul li {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #111
}

#albumViewer ul li.active {
    z-index: 2
}

#albumViewer .more {
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 40px;
    color: #f4b251;
    font-family: "OverlockSC";
    text-decoration: underline;
    font-size: 11px;
    line-height: 30px
}

@media screen and (min-width:1200px) {
    #albumViewer .more {
        font-size: 14px;
        line-height: 50px
    }
}

#albumViewer .share {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top: 100%;
    margin-top: 40px;
    overflow: hidden;
    border: 1px solid transparent
}

#albumViewer .share:hover {
    border: 1px solid #f4b251
}

#albumViewer .share.facebook .icon {
    background-image: url('../../The_Elements/Images/PNG/facebook.png')
}

#albumViewer .share.twitter .icon {
    background-image: url('../../The_Elements/Images/PNG/twitter.png')
}

#albumViewer .share.twitter {
    left: 40px
}

#albumViewer .share .icon {
    width: 30px;
    height: 60px;
    background-position: 0 0;
    background-size: 30px;
    -webkit-transition: all 1ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 1ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 1ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 1ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

#albumViewer .share:hover .icon {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

@media screen and (min-width:1200px) {
    #albumViewer .share.twitter {
        left: 60px
    }
    #albumViewer .share .icon {
        width: 50px;
        height: 100px;
        background-size: 50px
    }
    #albumViewer .share {
        width: 50px;
        height: 50px
    }
}